@import 'c/cssLibrary';
.certificate-and-reports-card {
	border-radius: 0.8rem;
	border: none !important;
    box-shadow: 0 0 14px 14px #e2e2e2 !important;
	height: 100%;
}

.certificate-and-reports-card .slds-card__header {
	background-color: #003C71;
	border-top-right-radius: 0.8rem;
	border-top-left-radius: 0.8rem;
}

.certificate-and-reports-card .slds-card__header-title{
	color: #fff;
    font-size: 25px;
	font-family: serif;
}